/******  Google fonts ******/
@import url(https://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Kufi Arabic', sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
}
::selection {
    color: #fff;
    background: #6968ac;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    font-weight: 600;
}
a{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    outline: none;
    color: #6968ac;
}
a:hover{
    text-decoration: none;
    color: #3f7dd7;
}
li {
    list-style: none;
}
p {
    line-height: 28px;
    color: #77838f;
    margin-bottom: 0;
}
img {
    max-width: 100%;
    height: auto;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
.btn, button{
    outline: none;
    border: none;
    font-size: 14px;
}
.btn:focus, button:focus{
    outline: none;
    box-shadow: none;
}
.img-block{
    overflow: hidden;
    border-radius: 50%;
}
.img-block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex-1{
    flex: 1;
}
.container-mid{
    padding: 0 50px;
}
.wrapper{
    min-height: 600px;
}
header {
    background: #806f9c;
    padding: 12px 0;
}
.site-logo img{
    height: 40px;
}
.user-header {
    padding: 0;
    display: flex;
    align-items: center;
}
.user-header .dropdown-menu {
    top: 20px !important;
    border-radius: 0 0 5px 5px;
    padding: 0;
}
.message-btn {
    color: #fff;
    font-size: 20px;
    margin-left: 27px;
    display: flex;
    position: relative;
}
.message-btn:hover{
    color: #fff;
}
.message-noti {
    position: absolute;
    right: -4px;
    top: 0px;
    content: "";
    background: #ff045b;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #6968ac;
}
.user-header .dropdown-toggle {
    color: #fff;
    padding: 0;
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.user-header .dropdown-toggle ion-icon {
    font-size: 16px;
    margin-left: 5px;
}
.dropdown-toggle::after {
    margin-right: .255em;
    margin-left: 0;
}
.user-header .dropdown-item {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.user-header .dropdown-item ion-icon{
    width: 20px;
    margin-left: 7px;
    font-size: 17px;
    flex: none;
    color: #806f9c;
}
.user-header .dropdown-item:focus, .user-header .dropdown-item:hover {
    color: #6867ab;
    background-color: #ececf4;
}
.banner-upgrade {
    padding: 10px;
    background: rgb(128 111 156 / 10%);
    color: #111013;
    text-align: center;
}
.banner-upgrade a {
    color: #6968ac;
    border-bottom: 1px solid;
    font-weight: 500;
    margin-right: 3px;
}
.banner-upgrade:hover a{
    color: #6968ac;
}
.influncers {
    padding: 50px 0;
}
.item-block {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 24px;
}
.item-block:hover {
    box-shadow: 0 4px 11px rgb(200 205 210 / 50%);
}
.item-head .img-block {
    width: 60px;
    height: 60px;
    flex: none;
    margin-left: 10px;
    border-radius: 50%;
}
.username {
    font-size: 15px;
    color: #333;
    margin-bottom: 3px;
}
.userlocation {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.left-side .userlocation{
    justify-content: center;
}
.userlocation ion-icon {
    font-size: 16px;
    margin-left: 4px;
}
.tags {
    padding-right: 70px;
    margin-top: 10px;
    cursor: pointer;
}
.tags::-webkit-scrollbar, .item-gallery.owl-carousel .owl-stage::-webkit-scrollbar{
    opacity: 0;
    height: 0;
}
.tags span {
    display: inline-flex;
    background: rgb(239 234 245 / 57%);
    margin-left: 5px;
    margin-bottom: 7px;
    border-radius: 15px;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    height: 24px;
    align-items: center;
    justify-content: center;
    color: #3f4447;
}
.user-followers {
    padding-right: 20px;
    cursor: pointer;
    flex-direction: column;
    min-width: 110px;
    flex: none;
}
.user-followers h5 {
    font-size: 14px;
    font-weight: 400;
    color: #6968ac;
    text-align: center;
}
.user-followers h5:last-child{
    margin-bottom: 0;
}
.followers-num {
    font-size: 13px !important;
    color: #333 !important;
}
.followers-num b{
    color: #ff045b;
    font-size: 18px;
    font-size: 24px;
    display: block
}
.item-gallery button.disabled {
    opacity: 0;
    cursor: default !important;
}
.owl-nav {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.owl-nav > button > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(42 42 80 / 80%) !important;
    color: #fff !important;
    z-index: 99;
    display: block;
    font-size: 9px;
    line-height: 28px;
}
.owl-next span{
    left: 0;
}
.owl-prev span{
    right: 0;
}
.item-gallery{
    margin-top: 15px;
}
.item-gallery .img-block{
    border-radius: 4px;
    height: 100px;
    position: relative;
}
.item-gallery .img-block:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(42 42 80 / 60%);
}
.addToList {
    background: rgb(105 104 172 / 12%);
    color: #575793;
    font-size: 13px;
    border-radius: 20px;
    padding: 7px 15px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.addToList:after{
    display: none;
}
.addToList ion-icon {
    font-size: 17px;
    margin-left: 5px;
}
.addToList:hover, .addToList:focus{
    background: #6968ac;
    color: #fff;
    box-shadow: 0 4px 11px rgb(209 186 238 / 80%);
}
table .addToList:hover, table .addToList:focus{
    color: #6968ac;
    background: #fff;
    box-shadow: none;
}
table input.form-control {
    width: 200px !important;
}
.note-form {
    padding: 15px;
}
.item-gallery.owl-carousel .owl-stage {
    display: flex;
    overflow: scroll;
}
.cursor-pointer{
    cursor: pointer;
}
.modal.fade .modal-dialog {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}
.influencer-details .modal-dialog {
    margin: 0 100px;
    width: calc(100% - 200px) !important;
    max-width: calc(100% - 100px) !important;
}
.influencer-details .modal-content {
    border-radius: 0;
    border: none;
    height: 100vh;
}
.influencer-details .modal-body {
    padding: 0;
}
.left-side, .right-side {
    height: 100vh;
    overflow-y: auto;
}
.left-side {
    padding: 20px 0;
}
.account-det {
    padding: 0 20px;
}
.left-side .img-block {
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 0;
    margin: 0 auto 20px auto;
}
.infl-about {
    margin-bottom: 15px;
}
.influ-option {
    margin-bottom: 20px;
}
.account-det .username {
    margin-bottom: 5px;
}
.influ-option .add-note > .btn {
    background: rgb(105 104 172 / 12%);
    color: #6968ac;
    margin-right: 10px;
    font-size: 13px;
    border-radius: 20px;
    padding: 6px 15px;
    transition: all 0.2s ease-in-out;
}
.influ-option .add-note > .btn:hover, .influ-option .add-note > .btn:focus{
    background: #6968ac;
    color: #fff;
    box-shadow: 0 4px 11px rgb(209 186 238 / 80%);
    transform: translateY(-2px);
}
.influ-option .dropdown-toggle::after{
    content: none;
}
.account-det .tags {
    white-space: inherit;
    overflow: visible;
    display: block;
    padding-right: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}
.account-det .tags span{
    margin-bottom: 10px;
}
.modal-body .user-followers {
    padding: 20px 20px 0 20px;
    flex-direction: row;
}
.modal-body .user-followers h5 {

}
.modal-body .user-followers h5 b {
    display: block;
}
.account-info {
    padding: 0 20px;
    border-top: 1px solid #dedede;
    margin-top: 20px;
    padding-top: 20px;
}
.dec-cont {
    margin-bottom: 15px;
}
.dec-cont:last-child{
    margin-bottom: 0;
}
.dec-cont h3{
    font-size: 15px;
}
.dec-cont ul li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.dec-cont ul li .cont-icon {
    margin-right: 10px;
    display: block;
    height: 15px;
}
.dec-cont ul li .cont-icon ion-icon{
    font-size: 17px;
}
.gallery-analy {
    position: absolute;
    background: rgb(42 42 80 / 60%);
    left: 0;
    right: 0;
    bottom: 0;
    color: rgb(255 255 255 / 90%);
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    z-index: 9;
}
.gallery-analy span {
    font-size: 12px;
}
.gallery-analy span i{
    margin-left: 3px;
}
.right-side {
    padding: 20px;
}
.right-side .item-gallery .img-block {
    height: 230px;
}
.right-side .item-gallery {
    margin-bottom: 20px;
    margin-top: 20px;
}
.influ-statics  .nav-tabs .nav-item.show .nav-link, .influ-statics  .nav-tabs .nav-link.active {
    background-color: #fff;
    border: none;
    font-weight: 600;
}
.influ-statics  .nav-tabs .nav-item .nav-link {
    padding: 15px 30px;
    font-size: 15px;
    border: none;
    color: #495057;
}
.statics-details {
    padding: 15px 0;
}
.statics-details .tab-content{
    padding: 20px;
}
.statics-details .nav-tabs .nav-link.active{
    border-bottom: 2px solid #6968ac !important;
}
.influ-statics .nav-tabs {
    border-bottom: none;
}
.influ-statics .tab-content {
    background: #fff;
}
.static-box {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    /*font-weight: 600;*/
    padding: 5px;
    margin-right: 15px;
    background: rgb(105 104 172 / 12%);
    color: #6968ac;
}
.statics-result {
    margin-bottom: 25px;
}
.static-comment h5 {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
}
.static-comment p{
    color: #333;
}
.static-note {
    font-size: 13px;
    margin-top: 5px;
}
.static-info {
    font-size: 25px;
    color: #ff045b;
    background: transparent;
}
.statics-summery {
    background: #fafafa;
    padding: 20px;
    border-radius: 5px;
}
.statics-summery > h4 {
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}
.statics-summery > h4 button{
    margin-right: 15px
}
.statics-reaction h5 {
    margin-bottom: 0;
    font-size: 14px;
}
.likes-comments span {
    margin-left: 10px;
    display: inline-block;
    color: #77838f;
}
.dropform{
    padding: 15px;
}
.note-form h4 {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 500;
}
.note-form .form-check-label, .filter-drop .form-check-label {
    color: #111013;
    font-size: 14px;
}
.note-form p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
}
.note-form .btn-submit {
    border-radius: 25px;
    padding: 7px 20px;
}
.note-form textarea {
    resize: none;
    height: auto;
}
.btn-submit {
    background: #6968ac;
    color: #fff;
    border-radius: 25px;
    min-width: 100px;
    padding: 10px 25px;
    transition: all 0.2s ease-in-out;
}
.btn-submit:hover{
    background: #6968ac;
    box-shadow: 0 4px 11px rgb(209 186 238 / 80%);
    color: #fff;
}
.btn-submit2 {
    background: rgb(105 104 172 / 12%);
    color: #6968ac;
    border-radius: 30px;
    min-width: 100px;
    padding: 10px 25px;
    transition: all 0.2s ease-in-out;
}
.btn-submit2:hover{
    background: #6968ac;
    box-shadow: 0 4px 11px rgb(209 186 238 / 80%);
    color: #fff;
}
.form-check-input:checked {
    background-color: #ff045b;
    border-color: #ff045b;
}
.form-check-input:focus {
    border-color: rgb(255 4 91 / 76%);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 5 91 / 7%);
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #ff045b;
}
.form-control, .select2-container--default .select2-selection--single {
    height: 45px;
    padding: 0.75rem 1rem;
    font-weight: 400;
    line-height: 45px;
    color: #1e2022;
    background-color: #fff;
    border: 1px solid #d5dae2;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 14px;
}
.required {
    color: #f81313;
}
.form-label {
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
}
.form-group{
    margin-bottom: 15px;
}
.lock-btn {
    background: transparent;
    margin-right: 15px;
    font-size: 16px;
}
.form-control:disabled, .form-control[readonly] {
    opacity: 0.5;
    cursor: no-drop;
}
.locked-content {
    filter: blur(4px);
    cursor: no-drop;
}
.upgrade-btn {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    min-width: 220px;
    background: #6968ac;
    color: #fff;
    border-radius: 25px;
    padding: 12px 20px;
    z-index: 99;
    transition: all 0.2s ease-in-out;
}
.upgrade-btn:hover{
    background: #6968ac;
    box-shadow: 0 4px 11px rgb(209 186 238 / 80%);
    color: #fff;
}
ul.pagination {
    justify-content: center;
    margin-top: 20px;
}
.page-link {
    border: none;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0;
    border-radius: 4px;
    color: #555;
}
.page-link.locked {
    background: transparent;
}
.page-link.active, .page-link:hover, .page-link:focus {
    background: #ff045b;
    color: #fff;
}
.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 4 91 / 9%);
}
.search-box {
    background: rgb(105 104 172 / 12%);
    padding: 15px;
    border-radius: 5px 0 5px 5px;
}
.search-input-group{
    width: 50%;
    flex: none;
    background: #fff;
    align-items: center;
    padding: 0 15px;
}
.search-input-group input{
    border: none;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
    border-color: rgb(83 28 143 / 38%);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 45px;
    padding-left: 15px;
}
.search-box .select2-container .select2-selection--single {
    height: 45px;
}
.search-box .select2 {
    margin-left: 20px;
    margin-right: 20px;
}
.search-box .select2-container--default .select2-selection--single {
    border: none;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #eee;
}
.select2-dropdown {
    border: none;
    box-shadow: 0 4px 11px rgb(200 205 210 / 50%);
}
.select2-container--default .select2-selection--single{
    padding: 0;
}
.select2-search__field:focus{
    outline: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
    left: 10px;
}
.search-filter .filter-btn {
    background: rgb(105 104 172 / 12%);
    border-radius: 20px;
    margin: 15px 15px 15px 0;
    padding: 8px 25px;
    color: #111013;
    font-weight: 500;
}
.inline-labels .form-check {
    width: 50%;
}
.dropdown-menu {
    border: none;
    box-shadow: 0 4px 11px rgb(200 205 210 / 50%);
    text-align: right;
}
.form-check .form-check-input {
    float: right;
    margin-right: -1.5em;
    margin-left: 0;
}
.form-check {
    padding-right: 1.5em;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.form-switch {
    padding-right: 2.5em !important;
}
.form-switch .form-check-input {
    margin-right: -2.5em !important;
    background-position: right center;
    margin-left: 0;
}

.search-filter .dropdown-menu{
    min-width: 300px;
}
.filter-drop{
    padding: 15px 20px;
}
.filter-drop h6 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}
.filter-drop .btn-submit {
    padding: 6px 20px;
    width: auto;
    min-width: auto;
    font-size: 13px;
}
.filter-price .slider-range-price {
    background: #dee2e6 none repeat scroll 0 0;
    height: 4px;
    position: relative;
    border-radius: 15px;
}
.filter-price .slider-range-price .ui-slider-range {
    background: #6968ac none repeat scroll 0 0;
    height: 4px;
    left: 65px;
    position: absolute;
    top: 0;
    width: 160px;
}
.filter-price .slider-range-price .ui-slider-handle {
    background: #fff;
    box-shadow: 0 0 13px rgb(184 185 187 / 69%);
    height: 15px;
    left: 25px;
    position: absolute;
    top: -6px;
    width: 15px;
    border-radius: 50%;
}
.price_label, .price_slider_amount {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 13px;
    width: 100%;
    flex-direction: row-reverse;
    font-family: sans-serif;
    text-align: left;
}
.price_slider_amount{
    margin-top: 10px;
}
.filter-price {
    margin-top: 25px;
}
.resrt-btn {
    color: #999;
    padding: 0;
}
.social-tabs .nav-tabs .nav-link {
    margin-bottom: 0;
    padding: 15px 25px;
    border-radius: 5px 5px 0 0;
    border: none;
    color: #555;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}
.social-tabs .nav-tabs .nav-link ion-icon{
    margin-left: 5px;
    color: #6968ac;
}
.social-tabs .nav-tabs {
    border-bottom: none;
}
.social-tabs .nav-tabs .nav-item.show .nav-link, .social-tabs .nav-tabs .nav-link.active {
    border: none;
    background: rgb(105 104 172 / 12%);
    font-weight: 600;
    color: #6968ac !important;
}
.social-tabs .nav-tabs .nav-link:focus, .social-tabs .nav-tabs .nav-link:hover {
    border: none;
}
.section-block .form-group {
    margin-bottom: 35px;
}
.section-title{
    margin-bottom: 35px;
}
.section-title h2 {
    font-size: 21px;
    font-weight: 500;
    position: relative;
    color: #111013;
}
.section-title h2:after {
    position: absolute;
    content: "";
    width: 50px;
    right: 0;
    bottom: -6px;
    background: #6968ac;
    height: 2px;
}
.section-block {
    padding: 50px 20px;
}
.plan-details .progress {
    height: 7px;
    margin-bottom: 20px;
    width: 40%;
}
.plan-details .progress-bar {
    background-color: rgb(255 4 91 / 45%);
}
.plan-details h3 {
    font-size: 16px;
}
.features {
    margin-top: 30px;
}
.features h4 {
    font-size: 16px;
    margin-bottom: 25px;
}
.features li{
    margin-bottom: 15px;
    color: #77838f;
}
.btn-check {
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #6968ac;
    background: rgb(105 104 172 / 12%);
    margin-left: 10px;
    display: inline-block;
    position: relative;
}
.inv-icon {
    display: block;
    flex: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: #6968ac;
    background: rgb(105 104 172 / 12%);
    text-align: center;
    line-height: 64px;
    font-size: 26px;
    margin-left: 10px;
}
.invoice-row {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.invoice-row:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.inv-details h3 {
    font-size: 14px;
}
.inv-details h3 span {
    font-weight: 400;
    font-size: 13px;
    color: #999;
}
.payment-details {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e8ebec;
}
.payment-details:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.edit-info {
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px dotted;
    color: #bab9bf;
}
.edit-info:hover {
    color: #6968ac;
}
.payment-method > .form-check{
    margin-bottom: 20px;
}
.payment-details h6{
    margin-bottom: 20px;
}
.cart-summery {
    border: 1px solid #e8ebec;
    padding: 20px;
    border-radius: 10px;
    margin-left: 40px;
}
.cart-summery h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.order-details {
    margin-bottom: 15px;
}
.order-details:last-child {
    margin-bottom: 0;
}
.summery-footer {
    border-top: 1px solid #eee;
    padding-top: 15px;
}
.login-page {
    width: 90%;
    margin: auto;
}
.login-page .img-box {
    padding: 30px;
    height: 100%;
    display: flex;
    align-items: center;
}
.login-img {
    height: 600px;
}
.login-content {
    padding: 30px 60px;
}
.login-head {
    margin-bottom: 50px;
}
.login-title {
    margin-bottom: 30px;
}
.login-title h2 {
    font-size: 20px;
    font-weight: 500;
}
.login-logo img {
    height: 50px;
}
.login-note {
    text-align: center;
    display: block;
    margin-top: 20px;
}
.btn-block{
    width: 100%;
}
.login-content .btn-submit {
    height: 45px;
    border-radius: 35px;
}
.login-content .form-group {
    margin-bottom: 30px;
}
.check-note{
    color: #77838f;
}
.forgot-note {
    margin-bottom: 15px;
}
.social-tabs {
    margin-top: 50px;
}
.home-search {
    margin-bottom: 10px;
}
.modal-title {
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 60px;
    color: #111013;
}
.modal-title:after {
    position: absolute;
    content: "";
    background: #6968ac;
    height: 3px;
    width: 70px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
}
#modal-upgrade .modal-content {
    padding: 40px;
    border-radius: 0;
}
.plan {
    border: 1px solid #eee;
    padding: 25px;
    border-radius: 5px;
    height: 100%;
}
.plan.featured {
    margin-top: -30px;
    height: calc(100% + 60px);
}
.plan-head h3 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 5px;
}
.plan.featured .plan-head h3{
    color: #6968ac;
}
.plan-head p {
    margin-bottom: 30px;
}
.plan-head h4 {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.plan-head h4 span {
    color: #bbbdc0;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
}
#planrecommended {
    width: 250px;
    height: 35px;
    position: relative;
    color: #fff;
    text-align: center;
    margin: auto;
    line-height: 35px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ff045b;
    display: block;
}
#planrecommended:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 17px solid #fff;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
}
#planrecommended:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 17px solid #fff;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
}
.btn-close:focus {
    box-shadow: none;
}
.tooltip.show {
    opacity: 1;
    text-align: left;
}
.tooltip-inner {
    padding: 10px 15px;
    text-align: left;
}
.help {
    margin-left: 5px;
    color: #bbb6b6;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track-piece {
    background-color: #e2e2e2;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #cfcfcf;
    border-radius: 10px;
}
.influ-list {
    height: 100%;
    background: #fff;
    padding: 30px 20px;
}
.influ-list ul{
    margin-top: 20px;
    border-bottom: none;
}
.influ-list li{
    display: block;
    width: 100%;
}
.influ-list li a {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    color: #6968ac;
    display: block;
    width: 100%;
    cursor: pointer;
    background: rgb(105 104 172 / 12%);
}
.influ-list li a.active{
    background: #6968ac;
    color: #fff;
}
.my-infu-statics {
    height: 100%;
}
.my-influnecers{
    /*height: 100vh*/
}
.my-infu-statics .statics-details {
    margin: 30px;
    padding: 0;
    background: #fff;
}
.my-infu-statics  .influ-statics .nav-tabs .nav-item .nav-link {
    padding: 15px 30px;
    font-size: 15px;
    border: none;
    display: flex;
    align-items: center;
}
.my-infu-statics  .influ-statics .nav-tabs .nav-item .nav-link ion-icon{
    margin-left: 5px;
}
.my-infu-statics .influ-statics .nav-tabs .nav-item.show .nav-link, .my-infu-statics .influ-statics .nav-tabs .nav-link.active {
    color: #6968ac !important;
}
table {
    width: 100%;
}
.stcs-summery {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.stcs-summery .static-box{
    margin: auto;
}
.static-box.bg-1 {
    background: rgb(255 4 91 / 8%);
    color: #ff045b;
}
.static-box.bg-2 {
    background: rgb(76 175 80 / 16%);
    color: #4caf50;
}
.stcs-summery .item {
    text-align: center;
}
.stcs-summery .item h5 {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 500;
}
.stcs-summery .item p {
    font-size: 22px;
    line-height: 70px;
}
table.table-responsive {
    width: 100%;
}
thead th {
    padding: 12px 15px;
    font-weight: 500;
    font-size: 13px;
    position: relative;
}
thead th:first-child{
    border-radius: 5px 0 0 0;
}
thead th:last-child{
    border-radius: 0 5px 0 0;
}
thead>tr>th:not(:last-child):before {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 1.6em;
    background-color: rgba(0,0,0,.06);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: background-color .3s;
    content: "";
}
tbody>tr>td {
    border-bottom: 1px solid #f0f0f0;
    transition: background .3s;
    position: relative;
    padding: 16px;
    overflow-wrap: break-word;
    font-size: 17px;
}
tbody>tr>td .img-block {
    width: 45px;
    height: 45px;
    margin-right: 8px;
}
tbody>tr>td .username {
    font-size: 14px;
    color: #333;
    margin-bottom: 2px;
}
tbody>tr>td .userlocation {
    font-weight: 400;
    font-size: 12px;
}
tbody>tr>td .select2-container {
    width: 150px !important;
}
tbody>tr:last-child>td{
    border-bottom: none;
}
.canv-block {
    padding: 20px;
    border-radius: 5px;
}
.canv-block h4 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}
footer{
    background: #2a2a50;
    padding: 10px 0;
}
footer p {
    color: #fff;
    font-size: 13px;
}
footer p a, footer p a:hover{
    color: #ff045b;
}
.responsive-content{
    display: none;
}
.res-close{
    display: none;
}
.plans{
    padding: 50px 0;
}
table .addToList {
    background: transparent;
    padding: 0;
}
table .addToList ion-icon {
    font-size: 20px;
    margin-right: 0;
}
table .addToList span{
    display: none;
}
.messages-search {
    display: flex;
    align-items: center;
    background: #fff;
    margin-bottom: 20px;
    /* border-radius: 5px; */
    padding: 15px 0;
    border-bottom: 1px solid #dedede;
}
.messages-search input {
    margin: 0;
    padding: 0;
    height: 25px;
    border: none;
    margin-right: 10px;
    color: #CFCFCF;
}
.messages-search i{
    color: #CFCFCF;
}
.messages-list {
    padding-left: 20px;
    border-left: 1px solid #dedede;
}
.messages-list .nav-tabs {
    border: none;
    height: 310px;
    overflow-y: auto;
    display: block;
}
.messages-list .item {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
}
.messages-list .item.active {
    background: rgb(105 104 172 / 12%) !important;
}
.messages-list .item:last-child {
    margin-bottom: 0;
}
.l-side {
    display: flex;
    align-items: center;
}
.messages-list .item .img-block {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}
.messages-list .item h4 {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
}
.messages-list .item .date {
    font-size: 12px;
}
.active-head {
    color: #999;
    font-size: 13px;
}
.status{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #d9d9d9;
}
.status.online {
    background: #42dab0;
}
.r-side {
    text-align: right;
}
.m-head {
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
    border-radius: 5px 5px 0 0;
}
.m-head .img-block {
    width: 40px;
    height: 40px;
    margin-left: 6px;
    border-radius: 50%;
}
.m-head h4 {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 500;
}
.message-body {
    padding: 15px 0;
    margin-bottom: 15px;
}
.sender p, .receiver p {
    background: #f8f9fa;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.receiver p {
    background: rgb(241 237 246);
}
.sender .date, .receiver .date {
    display: block;
    font-size: 12px;
    color: #999;
}
.sender, .reciever{
    margin-bottom: 15px;
}
.receiver {
    text-align: right;
}
.message-footer {
    border-radius: 5px;
    border: 1px solid #eee;
    justify-content: space-between;
    display: flex;
    padding: 10px 15px;
    align-items: center;
}
.message-footer .upload {
    padding-left: 10px;
    margin-left: 5px;
    border-left: 1px solid #eee;
    color: #888;
    font-size: 13px;
    flex: none;
    position: relative;
    display: flex;
    align-items: center;
    height: 20px;
    line-height: 20px;
}
.message-footer .upload:hover{
    color: #6968ac;
}
.message-footer .upload ion-icon {
    font-size: 20px;
}
.message-footer .upload input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
    z-index: 99;
}
.message-footer .message-text {
    border: none;
    margin-bottom: 0;
    height: 30px;
    min-height: 30px;
    resize: none;
    padding: 0;
    padding: 0 5px;
    line-height: 30px;
    width: 100%;
    font-size: 13px;
    color: #999;
}
.message-footer button {
    flex: none;
    height: 35px;
    padding: 0;
    font-size: 20px;
    margin-right: 10px;
    color: #6968ac;
    transform: rotate(180deg);
}
@media (max-width:991px){
    .user-header .dropdown-toggle > span{
        display: none;
    }
    .container-mid {
        padding: 0 15px;
    }
    .user-header .dropdown-toggle ion-icon {
        font-size: 20px;
    }
    .banner-upgrade {
        padding: 8px 5px;
        font-size: 12px;
    }
    .social-tabs .nav-tabs .nav-link > span{
        display: none;
    }
    .social-tabs .nav-tabs .nav-link ion-icon {
        margin-left: 0;
        font-size: 20px;
    }
    .search-box {
        padding: 10px;
        flex-direction: column;
    }
    .search-input-group {
        width: 100%;
        margin-bottom: 10px;
    }
    .search-box .select2 {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .influncers {
        padding: 20px 0;
    }
    .influencer-details .modal-dialog {
        margin: 0;
        width: 100% !important;
        max-width: 100% !important;
    }
    .resp-style {
        display: flex;
        justify-content: space-between;
    }
    .left-side .img-block {
        width: 60px;
        height: 60px;
        margin: 0 10px 0 0;
        flex: none;
    }
    .item-info {
        text-align: right;
        flex: 1;
    }
    .influ-option {
        margin-bottom: 20px;
        justify-content: flex-start !important;
    }
    .search-filter{
        overflow-x: scroll;
    }
    .search-filter::-webkit-scrollbar-track-piece {
        background-color: transparent;
        border-radius: 10px;
    }
    .search-filter::-webkit-scrollbar-thumb {
        height: 30px;
        background-color: transparent;
        border-radius: 10px;
    }
    .search-filter::-webkit-scrollbar {
        width: 1px;
        height: 1px;
    }
    .search-filter .filter-btn {
        margin: 10px;
        padding: 8px 20px;
        font-size: 13px;
    }
    .search-filter .dropdown-menu.show {
        display: block;
        position: fixed !important;
        transform: translate(-50%, -50%) !important;
        height: auto;
        inset: 50% auto auto 50% !important;
        background: #fff;
        z-index: 99999;
    }
    .left-side .userlocation {
        justify-content: start;
    }
    .hide-res{
        display: none;
    }
    .left-side, .right-side {
        height: auto;
        overflow-y: auto;
    }
    .responsive-content{
        display: block;
    }
    .responsive-content #nav-tab {
        display: flex;
        justify-content: space-between;
        background: #fff;
    }
    .responsive-content .nav-link {
        color: #495057;
        border: none;
    }
    .responsive-content .nav-link.active {
        border-bottom: 2px solid #6968ac !important;
        font-weight: 500;
        border: none;
    }
    .right-side {
        padding: 0;
    }
    .responsive-content #nav-tabContent {
        background: #f7f8f9;
    }
    .influ-statics {
        padding: 15px;
    }
    .modal-inner-title {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .statics-summery {
        background: #fff;
        margin: 0 0 15px 0;
    }
    .canv-block {
        margin-bottom: 10px;
        background: #fff !important;
    }
    .res-close {
        display: block;
        text-align: right;
        margin-left: 30px;
    }
    .plan-details .progress {
        width: 100%;
    }
    .section-block {
        padding: 30px 0;
    }
    .section-title h2 {
        font-size: 18px;
    }
    .wrapper {
        min-height: 100vh;
    }
    #modal-upgrade .modal-content {
        padding: 10px;
    }
    .modal-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .plan {
        padding: 20px 15px;
        margin-bottom: 15px;
        height: auto;
    }
    .plan.featured {
        margin-top: 0;
        height: auto;
    }
    #planrecommended:before {
        left: -1px;
    }
    #planrecommended:after {
        right: -1px;
    }
    .my-infu-statics .influ-statics .nav-tabs .nav-item .nav-link span{
        display: none;
    }
    .stcs-summery .item {
        text-align: center;
        width: 49%;
        display: inline-block;
        margin-bottom: 30px;
    }
    .my-infu-statics .influ-statics {
        padding: 0;
    }
    .my-infu-statics .statics-details {
        margin: 0;
    }
    .statics-details .tab-content {
        padding: 20px 10px;
    }
    .stcs-summery {
        display: block;
        text-align: center;
        padding: 15px 10px;
    }
    .stcs-summery .item h5 {
        font-size: 12px;
    }
    .subscribe-page {
        flex-direction: column-reverse;
    }
    .cart-summery {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .login-content {
        padding: 0;
    }
    .login-img {
        height: auto;
    }
    .login-page {
        width: 100%;
        padding: 20px 10px;
    }
    .addToList {
        background: transparent;
        padding: 0;
    }
    .addToList ion-icon {
        font-size: 20px;
        margin-left: 0;
    }
    .addToList span{
        display: none;
    }
    .right-side .item-gallery .img-block {
        height: 120px;
    }
    .message-block {
        margin-top: 20px;
    }
    .block-flo {
        flex-direction: column;
    }
    .block-flo .user-followers {
        padding-right: 0;
        flex-direction: row;
        min-width: auto;
        margin-top: 10px;
        align-items: end;
    }
    .item-head .img-block {
        width: 50px;
        height: 50px;
    }
    .username {
        font-size: 14px;
    }
    .tags {
        padding-right: 0;
    }
    .followers-num {
        margin-bottom: 0;
    }
    table input.form-control {
        width: auto !important;
    }
    .iflu-btn span{
        display: none;
    }
    .lang-btn, .message-btn, .iflu-btn{
        margin-left: 20px;
    }
}
.symbol {
    font-family: sans-serif;
}
.hidden-content{
    position: relative;
}
.hidden-content > div {
    position: relative;
    filter: blur(4px);
    cursor: no-drop;
}
.hidden-content .item-block:after {
    content: "";
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.hidden-content .upgrade-btn {
    width: auto;
}
.lang-btn {
    display: flex;
    margin-left: 25px;
    color: #fff;
    align-items: center;
    height: 16px;
    line-height: 16px;
    font-family: sans-serif;
}
.lang-btn:hover{
    color: #fff;
}
.lang-btn img {
    width: 20px;
    margin-left: 5px;
}
.form-check label {
    margin-right: 10px;
}
.influencers-modals > .owl-nav .owl-next span {
    left: -70px;
}
.influencers-modals > .owl-nav .owl-prev span {
    right: -70px;
}
.influencers-modals > .owl-nav > button > span{
    width: 50px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
}
.influencers-modals > .owl-nav button.disabled {
    opacity: 0;
    cursor: default !important;
}
.influencers-modals .item{
    margin: 0 !important;
}
.col-md-9.hide-res {
    padding-left: 0;
    padding-right: 0;
}
.influncers{
    position: relative;
}
.influncers.overlay:after {
    position: absolute;
    content: "";
    background: rgb(42 42 80 / 87%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
}
.iflu-btn {
    color: #fff;
    margin-left: 25px;
    display: flex;
    align-items: center;
}
.iflu-btn:hover{
    color: #fff;
}
.iflu-btn ion-icon {
    margin-left: 5px;
    font-size: 20px;
}
